
/*Homepage*/

#mainsection1 {
	height: 100%;
	margin: 0;
}

.cityscape { 
	background: url(images/cityscape.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.maintext {
	max-width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 15%;
}

.maintexth1, .navbarlist li {
	font-family: 'Arvo'; 
	color: white;
}

.imgplaceholder {
	max-width: 120px;
}

.navbarlist {
	text-decoration: none;
}

.navbarlist li {
	display: inline;
}

.rightnav {
	float: right;
}

.rightnav li {
	padding: 3%;
}

.scroll-chevron {
	position: absolute;
	left: 40%;
	bottom: 8px;
	width:20%;
	margin: auto;
}

#mainsection2 {
	background-color: orange;
	height: 100%;
}



