
/*Homepage*/

#mainsection1 {
	height: 100%;
	margin: 0;
}

.backimage { 
	background: url(images/ocean.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.imgplaceholder {
	max-width: 120px;
}

.navbar {
	position: fixed;
	width: 100%;
}

.navbarlist {
	list-style-type: none;
}

.navbarlist li {
	display: inline;
}

.leftnav {
	float: left;
}

.rightnav {
	float: right;
	text-align: right;
	margin-top: 5px;
	margin-right: 50px;
}

.rightnav li {
	padding: 15px;
	display: inline-block;
}

.navitem {
	border-radius: 20%;
}

.navitem:hover {
	background-color: white;
	color: black;
}

.maintext {
	position: relative;
	clear: both;
	max-width: 50%;
	text-align: center;
	margin: auto;
	padding-top: 10%;
}

.maintexth1 {
	font-size: 2em;
}

.maintexth1, .navbarlist li {
	font-family: 'Arvo'; 
	color: white;
}

.scroll-chevron {
	position: absolute;
	left: 40%;
	bottom: 8px;
	width:20%;
	margin: auto;
}

#mainsection2 {
	background-color: #0099cc;
	height: 100%;
}

#mainsection3 {
	background-color: white;
	height: 100%;
}



